debug/
release/
*.db3
*db3bak
#created from qmake
.qmake.stash 
.qmake.cash
Makefile 
Makefile.debug
Makefile.release
.vscode/
uic_wrapper.bat
uic_wrapper.sh
DkVerwaltungsQt.ini
*.autosave
*.pro.user
*.old
test_datum.s3db
*.tmp
*.keep
DKV2.pro.user.4.10-pre1