<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="DF67E098-1C4D-4F80-885B-3E97790027E8" Name="DKV2" Language="1033" Version="0.0.0.1" Manufacturer="HoMSoft" UpgradeCode="77FC1216-F8C9-43BB-8EF1-1D7BF2B7E8B3">
        <Package Description="Direktkreditverwaltung" Comments="DKV2-component" InstallerVersion="200" Compressed="yes" Platform="x64" InstallScope="perMachine"/>
        <Media Id="1" Cabinet="DKV2.cab" EmbedCab="yes" />
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramMenuFolder">
                <Directory Id="ProgramMenuDir" Name="DKV2"/>
                <Component Id="ProgramMenuDir" Guid="0e05dafc-468a-4ed0-ba2c-5ba95206f24e">
                    <RemoveFolder Id="ProgramMenuDir" On="uninstall" />
                    <RegistryValue Root="HKLM" Key="Software\HoMSoft\DKV2" Type="string" Value="" KeyPath="yes"/>
                </Component>
            </Directory>
            <Directory Id="ProgramFiles64Folder">
                <Directory Id="APPLICATIONROOTDIRECTORY" Name="DK Verwaltung 2">
                    <Component Win64="yes" Id="DKV2.EXE" DiskId="1" Guid="C4223BF2-0872-40C8-929A-3627D59E839F">
                        <File KeyPath="yes" Id="DKV2.EXE" Name="DKV2.exe" Source="X:\home\dev\DKV2.distrib\DKV2\DKV2.exe">
                            <Shortcut Id="desktopIcon" Directory="ProgramMenuDir" Name="DKV2" WorkingDirectory="INSTALLDIR" Icon="DKV2icon.EXE" IconIndex="0" />
                        </File>
                    </Component>
                    <Component Win64="yes" Id="D3DCOMPILER_47.DLL" DiskId="1" Guid="5094728A-598B-4E65-BD5B-22E16E2A540A">
                        <File KeyPath="yes" Id="D3DCOMPILER_47.DLL" Name="D3Dcompiler_47.dll" Source="X:\home\dev\DKV2.distrib\DKV2\D3Dcompiler_47.dll" />
                    </Component>
                    <Component Win64="yes" Id="LIBEGL.DLL" DiskId="1" Guid="5DFB1F46-8202-458C-93CE-F3CFB55D28B9">
                        <File KeyPath="yes" Id="LIBEGL.DLL" Name="libEGL.dll" Source="X:\home\dev\DKV2.distrib\DKV2\libEGL.dll" />
                    </Component>
                    <Component Win64="yes" Id="LIBGCC_S_SEH_1.DLL" DiskId="1" Guid="4AC329D4-B531-4B61-9517-C2DADF50CD08">
                        <File KeyPath="yes" Id="LIBGCC_S_SEH_1.DLL" Name="libgcc_s_seh-1.dll" Source="X:\home\dev\DKV2.distrib\DKV2\libgcc_s_seh-1.dll" />
                    </Component>
                    <Component Win64="yes" Id="LIBGLESV2.DLL" DiskId="1" Guid="C2C3DCE2-7F65-403B-B65C-F28F4A69F5CE">
                        <File KeyPath="yes" Id="LIBGLESV2.DLL" Name="libGLESV2.dll" Source="X:\home\dev\DKV2.distrib\DKV2\libGLESV2.dll" />
                    </Component>
                    <Component Win64="yes" Id="LIBSTDC___6.DLL" DiskId="1" Guid="9199909D-FDFF-4275-87CF-8C816B85D83A">
                        <File KeyPath="yes" Id="LIBSTDC___6.DLL" Name="libstdc++-6.dll" Source="X:\home\dev\DKV2.distrib\DKV2\libstdc++-6.dll" />
                    </Component>
                    <Component Win64="yes" Id="LIBWINPTHREAD_1.DLL" DiskId="1" Guid="1C119068-C6D8-4214-9BE1-C171854E1831">
                        <File KeyPath="yes" Id="LIBWINPTHREAD_1.DLL" Name="libwinpthread-1.dll" Source="X:\home\dev\DKV2.distrib\DKV2\libwinpthread-1.dll" />
                    </Component>
                    <Component Win64="yes" Id="OPENGL32SW.DLL" DiskId="1" Guid="91ED9C64-E1CE-4270-96A2-FC1B011AEA24">
                        <File KeyPath="yes" Id="OPENGL32SW.DLL" Name="opengl32sw.dll" Source="X:\home\dev\DKV2.distrib\DKV2\opengl32sw.dll" />
                    </Component>
                    <Component Win64="yes" Id="QT5CORE.DLL" DiskId="1" Guid="0DFF129F-6B52-45A3-8CDE-B904A0BC115B">
                        <File KeyPath="yes" Id="QT5CORE.DLL" Name="Qt5Core.dll" Source="X:\home\dev\DKV2.distrib\DKV2\Qt5Core.dll" />
                    </Component>
                    <Component Win64="yes" Id="QT5GUI.DLL" DiskId="1" Guid="B7B0E3FA-F98C-415D-A246-B03D0FC94E43">
                        <File KeyPath="yes" Id="QT5GUI.DLL" Name="Qt5Gui.dll" Source="X:\home\dev\DKV2.distrib\DKV2\Qt5Gui.dll" />
                    </Component>
                    <Component Win64="yes" Id="QT5PRINTSUPPORT.DLL" DiskId="1" Guid="72931F88-B819-4CC3-88BD-007004966890">
                        <File KeyPath="yes" Id="QT5PRINTSUPPORT.DLL" Name="Qt5PrintSupport.dll" Source="X:\home\dev\DKV2.distrib\DKV2\Qt5PrintSupport.dll" />
                    </Component>
                    <Component Win64="yes" Id="QT5SQL.DLL" DiskId="1" Guid="757BD04F-6A45-4629-A1BD-CB2CF4AAF668">
                        <File KeyPath="yes" Id="QT5SQL.DLL" Name="Qt5Sql.dll" Source="X:\home\dev\DKV2.distrib\DKV2\Qt5Sql.dll" />
                    </Component>
                    <Component Win64="yes" Id="QT5SVG.DLL" DiskId="1" Guid="8D006CB9-2858-4AA7-A1DD-ECE2313F704E">
                        <File KeyPath="yes" Id="QT5SVG.DLL" Name="Qt5Svg.dll" Source="X:\home\dev\DKV2.distrib\DKV2\Qt5Svg.dll" />
                    </Component>
                    <Component Win64="yes" Id="QT5WIDGETS.DLL" DiskId="1" Guid="81852124-C85E-45DE-9338-A94E6549F5EF">
                        <File KeyPath="yes" Id="QT5WIDGETS.DLL" Name="Qt5Widgets.dll" Source="X:\home\dev\DKV2.distrib\DKV2\Qt5Widgets.dll" />
                    </Component>
                    <Directory Id="ICONENGINES" Name="iconengines">
                        <Component Win64="yes" Id="QSVGICON.DLL" DiskId="1" Guid="9D23A30C-2FCC-46F7-95A0-4B8CA156DC08">
                            <File KeyPath="yes" Id="QSVGICON.DLL" Name="qsvgicon.dll" Source="X:\home\dev\DKV2.distrib\DKV2\iconengines\qsvgicon.dll" />
                        </Component>
                    </Directory>
                    <Directory Id="IMAGEFORMATS" Name="imageformats">
                        <Component Win64="yes" Id="QGIF.DLL" DiskId="1" Guid="ED76078E-05E3-482A-9EBF-2EB4EFFBF8FA">
                            <File KeyPath="yes" Id="QGIF.DLL" Name="qgif.dll" Source="X:\home\dev\DKV2.distrib\DKV2\imageformats\qgif.dll" />
                        </Component>
                        <Component Win64="yes" Id="QICNS.DLL" DiskId="1" Guid="475AECE8-688B-42BC-B872-81CB23DB726A">
                            <File KeyPath="yes" Id="QICNS.DLL" Name="qicns.dll" Source="X:\home\dev\DKV2.distrib\DKV2\imageformats\qicns.dll" />
                        </Component>
                        <Component Win64="yes" Id="QICO.DLL" DiskId="1" Guid="99FAA8EA-4B41-4CA4-B321-D211F6B72EBD">
                            <File KeyPath="yes" Id="QICO.DLL" Name="qico.dll" Source="X:\home\dev\DKV2.distrib\DKV2\imageformats\qico.dll" />
                        </Component>
                        <Component Win64="yes" Id="QJPEG.DLL" DiskId="1" Guid="ADA12CB9-61E7-4454-8489-E5870303C55C">
                            <File KeyPath="yes" Id="QJPEG.DLL" Name="qjpeg.dll" Source="X:\home\dev\DKV2.distrib\DKV2\imageformats\qjpeg.dll" />
                        </Component>
                        <Component Win64="yes" Id="QSVG.DLL" DiskId="1" Guid="743B2FAF-4CF8-4D10-A338-2C2646680AAE">
                            <File KeyPath="yes" Id="QSVG.DLL" Name="qsvg.dll" Source="X:\home\dev\DKV2.distrib\DKV2\imageformats\qsvg.dll" />
                        </Component>
                        <Component Win64="yes" Id="QTGA.DLL" DiskId="1" Guid="29097DC9-8EE0-4750-B4F1-E7FC8CBD87DE">
                            <File KeyPath="yes" Id="QTGA.DLL" Name="qtga.dll" Source="X:\home\dev\DKV2.distrib\DKV2\imageformats\qtga.dll" />
                        </Component>
                        <Component Win64="yes" Id="QTIFF.DLL" DiskId="1" Guid="772CEFB6-1854-42EC-97F0-099C1C63F925">
                            <File KeyPath="yes" Id="QTIFF.DLL" Name="qtiff.dll" Source="X:\home\dev\DKV2.distrib\DKV2\imageformats\qtiff.dll" />
                        </Component>
                        <Component Win64="yes" Id="QWBMP.DLL" DiskId="1" Guid="DF1EE5C1-327C-487B-AFE6-0AC976C46200">
                            <File KeyPath="yes" Id="QWBMP.DLL" Name="qwbmp.dll" Source="X:\home\dev\DKV2.distrib\DKV2\imageformats\qwbmp.dll" />
                        </Component>
                        <Component Win64="yes" Id="QWEBP.DLL" DiskId="1" Guid="1432CDF6-CBDD-4860-B614-E7865929D0B5">
                            <File KeyPath="yes" Id="QWEBP.DLL" Name="qwebp.dll" Source="X:\home\dev\DKV2.distrib\DKV2\imageformats\qwebp.dll" />
                        </Component>
                    </Directory>
                    <Directory Id="PLATFORMS" Name="platforms">
                        <Component Win64="yes" Id="QWINDOWS.DLL" DiskId="1" Guid="3CE4ACC4-B3BE-4D42-A740-2A7ABA8F067B">
                            <File KeyPath="yes" Id="QWINDOWS.DLL" Name="qwindows.dll" Source="X:\home\dev\DKV2.distrib\DKV2\platforms\qwindows.dll" />
                        </Component>
                    </Directory>
                    <Directory Id="PRINTSUPPORT" Name="printsupport">
                        <Component Win64="yes" Id="WINDOWSPRINTERSUPPORT.DLL" DiskId="1" Guid="780AD037-D332-4193-8359-7985B77D6C1E">
                            <File KeyPath="yes" Id="WINDOWSPRINTERSUPPORT.DLL" Name="windowsprintersupport.dll" Source="X:\home\dev\DKV2.distrib\DKV2\printsupport\windowsprintersupport.dll" />
                        </Component>
                    </Directory>
                    <Directory Id="SQLDRIVERS" Name="sqldrivers">
                        <Component Win64="yes" Id="QSQLITE.DLL" DiskId="1" Guid="B94A36C7-8442-413D-8E19-64166B90B791">
                            <File KeyPath="yes" Id="QSQLITE.DLL" Name="qsqlite.dll" Source="X:\home\dev\DKV2.distrib\DKV2\sqldrivers\qsqlite.dll" />
                        </Component>
                        <Component Win64="yes" Id="QSQLODBC.DLL" DiskId="1" Guid="1219E64D-2DA3-4E2F-83BD-95F5674EFDE4">
                            <File KeyPath="yes" Id="QSQLODBC.DLL" Name="qsqlodbc.dll" Source="X:\home\dev\DKV2.distrib\DKV2\sqldrivers\qsqlodbc.dll" />
                        </Component>
                        <Component Win64="yes" Id="QSQLPSQL.DLL" DiskId="1" Guid="8FE57EB9-5237-4C9D-BFF4-A00ED5DFE898">
                            <File KeyPath="yes" Id="QSQLPSQL.DLL" Name="qsqlpsql.dll" Source="X:\home\dev\DKV2.distrib\DKV2\sqldrivers\qsqlpsql.dll" />
                        </Component>
                    </Directory>
                    <Directory Id="STYLES" Name="styles">
                        <Component Win64="yes" Id="QWINDOWSVISTASTYLE.DLL" DiskId="1" Guid="3F18083C-3A4C-472D-9BF6-209DE6296B68">
                            <File KeyPath="yes" Id="QWINDOWSVISTASTYLE.DLL" Name="qwindowsvistastyle.dll" Source="X:\home\dev\DKV2.distrib\DKV2\styles\qwindowsvistastyle.dll" />
                        </Component>
                    </Directory>
                    <Directory Id="TRANSLATIONS" Name="translations">
                        <Component Win64="yes" Id="QT_AR.QM" DiskId="1" Guid="E6E07250-164B-4470-8553-AB3AF679DF79">
                            <File KeyPath="yes" Id="QT_AR.QM" Name="qt_ar.qm" Source="X:\home\dev\DKV2.distrib\DKV2\translations\qt_ar.qm" />
                        </Component>
                        <Component Win64="yes" Id="QT_BG.QM" DiskId="1" Guid="6C3890D5-A63E-41E5-8B19-9CC01221D2B7">
                            <File KeyPath="yes" Id="QT_BG.QM" Name="qt_bg.qm" Source="X:\home\dev\DKV2.distrib\DKV2\translations\qt_bg.qm" />
                        </Component>
                        <Component Win64="yes" Id="QT_CA.QM" DiskId="1" Guid="0643472A-73E2-41E1-B52D-6A5334AD6EBF">
                            <File KeyPath="yes" Id="QT_CA.QM" Name="qt_ca.qm" Source="X:\home\dev\DKV2.distrib\DKV2\translations\qt_ca.qm" />
                        </Component>
                        <Component Win64="yes" Id="QT_CS.QM" DiskId="1" Guid="134290B7-9E1A-444E-9589-190D582D92A1">
                            <File KeyPath="yes" Id="QT_CS.QM" Name="qt_cs.qm" Source="X:\home\dev\DKV2.distrib\DKV2\translations\qt_cs.qm" />
                        </Component>
                        <Component Win64="yes" Id="QT_DA.QM" DiskId="1" Guid="48E8177E-1BF9-4040-B04A-1572A03F0D8A">
                            <File KeyPath="yes" Id="QT_DA.QM" Name="qt_da.qm" Source="X:\home\dev\DKV2.distrib\DKV2\translations\qt_da.qm" />
                        </Component>
                        <Component Win64="yes" Id="QT_DE.QM" DiskId="1" Guid="9DDF7BEF-13E5-471F-B070-6C5D6E175873">
                            <File KeyPath="yes" Id="QT_DE.QM" Name="qt_de.qm" Source="X:\home\dev\DKV2.distrib\DKV2\translations\qt_de.qm" />
                        </Component>
                        <Component Win64="yes" Id="QT_EN.QM" DiskId="1" Guid="CF0895E7-7F43-4B29-98F2-330D66D6A8E1">
                            <File KeyPath="yes" Id="QT_EN.QM" Name="qt_en.qm" Source="X:\home\dev\DKV2.distrib\DKV2\translations\qt_en.qm" />
                        </Component>
                        <Component Win64="yes" Id="QT_ES.QM" DiskId="1" Guid="1DBF5239-1856-4BD9-A1DA-11E9DCB6E74B">
                            <File KeyPath="yes" Id="QT_ES.QM" Name="qt_es.qm" Source="X:\home\dev\DKV2.distrib\DKV2\translations\qt_es.qm" />
                        </Component>
                        <Component Win64="yes" Id="QT_FI.QM" DiskId="1" Guid="F212C0B7-4E40-4EDF-8CCC-E0859F7A8590">
                            <File KeyPath="yes" Id="QT_FI.QM" Name="qt_fi.qm" Source="X:\home\dev\DKV2.distrib\DKV2\translations\qt_fi.qm" />
                        </Component>
                        <Component Win64="yes" Id="QT_FR.QM" DiskId="1" Guid="3DBDE21C-1EFA-4ECE-9B7D-4E8129DAE40F">
                            <File KeyPath="yes" Id="QT_FR.QM" Name="qt_fr.qm" Source="X:\home\dev\DKV2.distrib\DKV2\translations\qt_fr.qm" />
                        </Component>
                        <Component Win64="yes" Id="QT_GD.QM" DiskId="1" Guid="12960B33-C27B-4F86-B5AA-8536E4B85D95">
                            <File KeyPath="yes" Id="QT_GD.QM" Name="qt_gd.qm" Source="X:\home\dev\DKV2.distrib\DKV2\translations\qt_gd.qm" />
                        </Component>
                        <Component Win64="yes" Id="QT_HE.QM" DiskId="1" Guid="1566CE33-AB99-4F79-8744-A40532C9317B">
                            <File KeyPath="yes" Id="QT_HE.QM" Name="qt_he.qm" Source="X:\home\dev\DKV2.distrib\DKV2\translations\qt_he.qm" />
                        </Component>
                        <Component Win64="yes" Id="QT_HU.QM" DiskId="1" Guid="5442746F-2EF2-46FF-955C-BBDDBC6B8300">
                            <File KeyPath="yes" Id="QT_HU.QM" Name="qt_hu.qm" Source="X:\home\dev\DKV2.distrib\DKV2\translations\qt_hu.qm" />
                        </Component>
                        <Component Win64="yes" Id="QT_IT.QM" DiskId="1" Guid="1CFDA42E-43E4-475E-97AD-883ECFE10654">
                            <File KeyPath="yes" Id="QT_IT.QM" Name="qt_it.qm" Source="X:\home\dev\DKV2.distrib\DKV2\translations\qt_it.qm" />
                        </Component>
                        <Component Win64="yes" Id="QT_JA.QM" DiskId="1" Guid="F9B2AB0D-82D7-4FB9-A09D-819C970B6A3A">
                            <File KeyPath="yes" Id="QT_JA.QM" Name="qt_ja.qm" Source="X:\home\dev\DKV2.distrib\DKV2\translations\qt_ja.qm" />
                        </Component>
                        <Component Win64="yes" Id="QT_KO.QM" DiskId="1" Guid="68C001ED-6BBC-4F0C-9938-0E638BFC2F2E">
                            <File KeyPath="yes" Id="QT_KO.QM" Name="qt_ko.qm" Source="X:\home\dev\DKV2.distrib\DKV2\translations\qt_ko.qm" />
                        </Component>
                        <Component Win64="yes" Id="QT_LV.QM" DiskId="1" Guid="F4C6B5D1-9201-469D-B738-22BC3C3D7935">
                            <File KeyPath="yes" Id="QT_LV.QM" Name="qt_lv.qm" Source="X:\home\dev\DKV2.distrib\DKV2\translations\qt_lv.qm" />
                        </Component>
                        <Component Win64="yes" Id="QT_PL.QM" DiskId="1" Guid="FF33CD75-F58B-408B-914C-E6A5AAB203E3">
                            <File KeyPath="yes" Id="QT_PL.QM" Name="qt_pl.qm" Source="X:\home\dev\DKV2.distrib\DKV2\translations\qt_pl.qm" />
                        </Component>
                        <Component Win64="yes" Id="QT_RU.QM" DiskId="1" Guid="AFEE2629-121E-4E75-8B81-8FF086F60A92">
                            <File KeyPath="yes" Id="QT_RU.QM" Name="qt_ru.qm" Source="X:\home\dev\DKV2.distrib\DKV2\translations\qt_ru.qm" />
                        </Component>
                        <Component Win64="yes" Id="QT_SK.QM" DiskId="1" Guid="4BB1D368-B521-4842-9196-352B2516C2C7">
                            <File KeyPath="yes" Id="QT_SK.QM" Name="qt_sk.qm" Source="X:\home\dev\DKV2.distrib\DKV2\translations\qt_sk.qm" />
                        </Component>
                        <Component Win64="yes" Id="QT_UK.QM" DiskId="1" Guid="8D992FEE-AED9-4A2D-9E13-D29417C59705">
                            <File KeyPath="yes" Id="QT_UK.QM" Name="qt_uk.qm" Source="X:\home\dev\DKV2.distrib\DKV2\translations\qt_uk.qm" />
                        </Component>
                        <Component Win64="yes" Id="QT_ZH_TW.QM" DiskId="1" Guid="C1C956E0-4CDF-4CEE-A131-66489324544F">
                            <File KeyPath="yes" Id="QT_ZH_TW.QM" Name="qt_zh_TW.qm" Source="X:\home\dev\DKV2.distrib\DKV2\translations\qt_zh_TW.qm" />
                        </Component>
                    </Directory>
                </Directory>
            </Directory>
        </Directory>
        <Feature Id="DefaultFeature" Title="Main Feature" Level="1">
            <ComponentRef Id="D3DCOMPILER_47.DLL" />
            <ComponentRef Id="DKV2.EXE" />
            <ComponentRef Id="LIBEGL.DLL" />
            <ComponentRef Id="LIBGCC_S_SEH_1.DLL" />
            <ComponentRef Id="LIBGLESV2.DLL" />
            <ComponentRef Id="LIBSTDC___6.DLL" />
            <ComponentRef Id="LIBWINPTHREAD_1.DLL" />
            <ComponentRef Id="OPENGL32SW.DLL" />
            <ComponentRef Id="QT5CORE.DLL" />
            <ComponentRef Id="QT5GUI.DLL" />
            <ComponentRef Id="QT5PRINTSUPPORT.DLL" />
            <ComponentRef Id="QT5SQL.DLL" />
            <ComponentRef Id="QT5SVG.DLL" />
            <ComponentRef Id="QT5WIDGETS.DLL" />
            <ComponentRef Id="QSVGICON.DLL" />
            <ComponentRef Id="QGIF.DLL" />
            <ComponentRef Id="QICNS.DLL" />
            <ComponentRef Id="QICO.DLL" />
            <ComponentRef Id="QJPEG.DLL" />
            <ComponentRef Id="QSVG.DLL" />
            <ComponentRef Id="QTGA.DLL" />
            <ComponentRef Id="QTIFF.DLL" />
            <ComponentRef Id="QWBMP.DLL" />
            <ComponentRef Id="QWEBP.DLL" />
            <ComponentRef Id="QWINDOWS.DLL" />
            <ComponentRef Id="WINDOWSPRINTERSUPPORT.DLL" />
            <ComponentRef Id="QSQLITE.DLL" />
            <ComponentRef Id="QSQLODBC.DLL" />
            <ComponentRef Id="QSQLPSQL.DLL" />
            <ComponentRef Id="QWINDOWSVISTASTYLE.DLL" />
            <ComponentRef Id="QT_AR.QM" />
            <ComponentRef Id="QT_BG.QM" />
            <ComponentRef Id="QT_CA.QM" />
            <ComponentRef Id="QT_CS.QM" />
            <ComponentRef Id="QT_DA.QM" />
            <ComponentRef Id="QT_DE.QM" />
            <ComponentRef Id="QT_EN.QM" />
            <ComponentRef Id="QT_ES.QM" />
            <ComponentRef Id="QT_FI.QM" />
            <ComponentRef Id="QT_FR.QM" />
            <ComponentRef Id="QT_GD.QM" />
            <ComponentRef Id="QT_HE.QM" />
            <ComponentRef Id="QT_HU.QM" />
            <ComponentRef Id="QT_IT.QM" />
            <ComponentRef Id="QT_JA.QM" />
            <ComponentRef Id="QT_KO.QM" />
            <ComponentRef Id="QT_LV.QM" />
            <ComponentRef Id="QT_PL.QM" />
            <ComponentRef Id="QT_RU.QM" />
            <ComponentRef Id="QT_SK.QM" />
            <ComponentRef Id="QT_UK.QM" />
            <ComponentRef Id="QT_ZH_TW.QM" />
            <ComponentRef Id="ProgramMenuDir" />
        </Feature>
        <Icon Id="DKV2icon.EXE" SourceFile="X:\home\dev\DKV2.distrib\DKV2\DKV2.exe" />
        <UI />
    </Product>
</Wix>