
body {
    color: black;
    background: white;
}

table {
/*    border-width: 1px;*/
    border-style: solid;
    border-collapse: collapse;
}

.invisible {
    color: white;
    background: white;
}

.colFirmenname {
    text-align: center;
    padding-left: 0px;
    font-size: 14pt;
    padding-top: 6px;
    padding-bottom: 6px;

}

.imgLogo {
    height: 100%;
}

.GmbHAnschrift {
    font-size: 5pt;
    vertical-align: bottom;
    text-align: left;
    padding-left: 0px;
    padding-top: 30px;
}

.GmbHUrl {
    font-size: 7pt;
    text-align: center;
    vertical-align: top;
}

.KreditorAdresse {
    padding-top: 10px;
    padding-bottom: 10px;
}

.colBetreff {
    padding-top: 25px;
}

.colDatum {
    text-align: right;
    padding-top: 5px;
}


.colHeaderLine {
    text-align: center;
    font-size: 14pt;
    padding-top: 20px;
    padding-left: 120px;
    padding-right: 120px;
}


.colLogo {
    padding-left: 1px;
    float: right;
}

.GmbhAdresse {
    float: right;
}

.colGmbHAdresse {
    background: white;
    text-align: left;
    font-size: 9pt;
    padding-left: 20px;
    padding-right: 40px;

}

.divVertrag {
    page-break-before: auto;

}

.tabVertrag {
    padding-left: 40px;
    border-style: none;
    border-collapse: collapse;

}

.colVertragsNr {
    padding-top: 5px;

}

.colBuchungsDatum {
    padding-left: 30px;
    text-align: left;
}

.colBuchungsText {
    text-align: left;
    padding-left: 40px;
}

.colBuchungsBetrag {
    text-align: right;
    padding-left: 40px;
    float: right;
}

.colSaldoBetrag {
    text-align: right;
    padding-left: 20px;
}

.Text {
    font-size: 10pt;

