
body {
    color: black;
    background: white;
}

table {
/*    border-width: 1px;*/
/*    border-style: solid;*/
    border-collapse: collapse;
}

.invisible {
    color: white;
    background: white;
}

.colFirmenname {
    padding-top: 29px;
    padding-left: 0px;
    padding-bottom: 6px;

}

.divFirmenname {
    text-align: center;
    font-size: 14pt;

}

.GmbHAnschrift {
    font-size: 5pt;
    vertical-align: bottom;
    text-align: left;
    padding-left: 0px;
    padding-top: 30px;
}

.KreditorAdresse {
    padding-top: 10px;
    padding-bottom: 10px;
}

/*
.imgLogo {

}
*/

.colLogo {
    padding-top: 23px;
    float: right;

}

.GmbHUrl {
    font-size: 7pt;
    text-align: center;
    vertical-align: top;
}

.colBetreff {
    padding-top: 25px;
}

.colDatum {
    text-align: right;
    padding-top: 5px;
}

.Text {
    font-size: 9pt;
}

.divVertrag {
    page-break-before: auto;

}

.tabVertrag {
    border-style: none;
    border-collapse: collapse;
}

.colVertragsNr {
    padding-top: 5px;

}

.colBuchungsBetrag {
    text-align: right;
    padding-left: 40px;
    float: right;
}

.colBuchungsDatum {
    padding-left: 30px;
    text-align: left;
}

.colBuchungsText {
    text-align: left;
    padding-left: 40px;
}

.colSaldoBetrag {
    text-align: right;
    padding-left: 20px;
}

.footer {
    font-size:5pt;
}
