name: Linux build

on:
  push:
    branches:
      - '*'
    tags:
      - '*'
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Check out
      uses: actions/checkout@v3
    - name: Get linuxdeployqt
      run:  wget -c -nv "https://github.com/probonopd/linuxdeployqt/releases/download/continuous/linuxdeployqt-continuous-x86_64.AppImage"
    - name: Make linuxdeployqt executable
      run: chmod a+x linuxdeployqt-continuous-x86_64.AppImage
    - name: Install libfuse2
      run: sudo apt-get install libfuse2
    - name: Install Qt
      uses: jurplel/install-qt-action@v3
<<<<<<< HEAD
      with:
        modules: 'qtcharts'
=======
    - name: Add missing libraries
      run: sudo apt-get install libxkbcommon-x11-0
>>>>>>> 817c064 (Make Linux build Great Again  (#100))
    - name: Build and package for Linux
      run: ./dist_linux.sh
    - name: Save artificat
      uses: actions/upload-artifact@v3
      with:
        name: Appimage
        path: build-dist-linux/DKV2-*-x86_64.tar.gz
    - name: Release
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: |
          build-dist-linux/DKV2-*-x86_64.tar.gz
          LICENSE
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
