- name: Install Qt
  uses: jurplel/install-qt-action@v3
  with:
    version: '5.15.2'
    host: 'windows'
    target: 'desktop'
    arch: 'win64_msvc2019_64'
    dir: '${{ github.workspace }}/DKV2/'
    install-deps: 'true'
#    modules: 'qtcharts qtwebengine'
    archives: 'qtbase qtsvg'
    cache: 'false'
    cache-key-prefix: 'install-qt-action'
    setup-python: 'true'
    tools: 'tools_ifw tools_qtcreator,qt.tools.qtcreator'
    set-env: 'true'
    tools-only: 'false'
    aqtversion: '==2.1.*'
    py7zrversion: '==0.19.*'
    extra: '--external 7z'