name: Linux build

on:
  push:
    branches:
      - '*'
    tags:
      - '*'
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
    - name: Check out
      uses: actions/checkout@v2
    - name: Get linuxdeployqt
      run:  wget -c -nv "https://github.com/probonopd/linuxdeployqt/releases/download/continuous/linuxdeployqt-continuous-x86_64.AppImage"
    - name: Make linuxdeployqt executable
      run: chmod a+x linuxdeployqt-continuous-x86_64.AppImage
    - name: Install Qt
      uses: jurplel/install-qt-action@v3
      with:
        modules: 'qtcharts'
    - name: Build and package for Linux
      run: ./dist_linux.sh
    - name: Save artificat
      uses: actions/upload-artifact@v2
      with:
        name: Appimage
        path: build-dist-linux/DKV2-*-x86_64.tar.gz
    - name: Release
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: |
          build-dist-linux/DKV2-*-x86_64.tar.gz
          LICENSE
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
